<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Страница</title>
</head>
<body>
    {{.Count}} - число пользователей
    <br>
    {{ if .IsAdmin }}
    <p>Вы админ</p>
    {{ else }}
    <p>Вы не админ</p>
    {{end}}
    {{ if eq .Count 0 }}
    <p>Пользователей нет</p>
    {{ else if lt .Count 10 }}
    <p>Пользователей меньше 10</p>
    {{ else }}
    <p>Пользователей 10 или более</p>
    {{end}}
    <br>
    {{ if and .Count .CanUse}}
    <p>Админ и может использовать</p>
    {{end}}
</body>
</html>